@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    background-color: black;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', 'Arial Narrow', Arial, sans-serif;
}

.main{
    background-image: url("assets/images/bg.jpg");
    height: 80vh;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    background-size: max(1200px,100vw);
}

nav{
   max-width: 75vw;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 62px;

}

.main .box{
    height: 80vh;
    background-color: black;
    width: 100%;
    opacity: 0.70;
    position: absolute;
    top: 0px;
    
}

nav img{
    color: red;
    width: 150px;
    position: relative;
    z-index: 1;
    margin-top: 18px;
}

nav button{
    position: relative;
    z-index: 1;
}

.hero{
    font-family: 'Martel Sans', sans-serif;
    height: calc(100% - 62px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    gap: 16px;
    padding: 0 30px;
}

.hero>:first-child{
    font-size: 48px;
    font-weight: 900;
    text-align: center;
}

.hero>:nth-child(2) {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

.hero>:nth-child(3) {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

.seperation{
    height: 10px;
    background-color: rgb(50, 49, 49);
    position: relative;
    z-index: 20;
}

.btn-1{
    padding: 3px 8px;
   background-color: transparent;
   color: white;
    font-weight: 400;
    border-radius: 5px;
    
    border: 1px solid rgba(185, 185, 185, 0.813);
    cursor: pointer;
}

.btn-2{
    background-color: red;
    color: white;
    font-size: 14px;
    font-weight: 500;
    padding: 5px 12px;
    border-radius: 5px;
    border: 1px solid rgba(71, 71, 71, 0.813);
}

.btn-3{
    font-size: 24px;
    font-weight: 500;
    color: white;
    background-color: red;
    border-radius: 5px;
    padding: 9px 22px;
    border: 1px solid rgba(71, 71, 71, 0.813);
}

 input{
    font-size: 16px;
    font-weight: 400;
   padding: 15px 150px 14px 10px;
   border-radius: 5px;
   background-color: transparent;
   color: white ;
   border: 1px solid rgba(71, 71, 71, 0.813);
   margin-bottom: 0;
}

.first{
    display: flex;
   max-width: 70vw;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', 'Martel Sans', Arial, sans-serif;
    color: white;
    margin: auto;
}

   
.secimg{
    position: relative;
}
.secimg img{
    position: relative;
    z-index: 10;  
    width: 555px; 
}

.secimg video{
    position: absolute;
    top: 51px;
    right:1px;
}

.first span{
    display: flex;
    flex-direction: column;

}

.first > div :first-child{
    font-size: 48px;
    font-weight: 900;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 34px 0;

}

.first>div :nth-child(2) {
    font-size: 24px;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.third video{
    position: absolute;
    top: 81px;
    right: 123px;
    width: 20vw;
}

.faq{
    color: white;
    font-family: 'Martel Sans', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 48px;
    font-weight: 900;
    text-align: center;
    margin-top: 40px;
}

.faqbox{
    transition: all 1s ease-out;
    color: white;
    font-size: 24px;
    font-weight: 400;
    background-color: rgb(42, 42, 42);
    max-width: 60vw;
    padding: 25px;
    margin: 20px auto ;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.faqbox svg{
    filter: invert(1);
}

.faqbox:hover{
    background-color: rgb(65, 64, 64);
}

.one{
    margin: 50px auto;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    color: white;
    font-family: 'Martel Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.foot{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(4,20px);
    margin: auto 167px;
    gap: 10px;
}

@media screen and (max-width:1300px){

    nav{
        max-width: 90vw;
    }
    .first{
        flex-wrap: wrap;
     }
     .secimg img{
        width: 305px;
     }
     .secimg video{
        width: 302px;
     }
     .third video{
        width: 170px;
        right: 72px;
        top: 68px;
     }

     .hero>:first-child{
        font-size:32px
 }

 .hero>:nth-child(2){
    font-size: 18px;
 }
 .hero>:nth-child(3){
    font-size: 18px;
 }
 .btn-3{
    display: flex;
    flex-direction: column;
    position: relative;
    left: 65px;
    gap: 12px;
    font-size: 24px;
    font-weight: 500;
    color: white;
    background-color: red;
    border-radius: 5px;
    padding: 9px 22px;
    border: 1px solid rgba(71, 71, 71, 0.813);
}
.faq{
    font-size: 32px;
}
.footer{
    max-width: 90vw;
    padding: 75px;
}
}

@media screen and (max-width:1300px){
    .foot{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 25px;
        margin: auto 26px;
     }
     .mfoot{
        width: 90vw;
        position: relative;
        top: 4px;
        right: 144px;
     }
 }

a{
    color: rgb(167, 167, 167);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    
}

.mfoot{
    color: rgb(167, 167, 167);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 60px 167px 16px 167px;
    padding: 5px 0;
}
